# EIDE & VSCode 忽略项 
build/
.eide/log/
.vscode/
.cmsis/
.pack/

# Keil 通用忽略项 
Objects/
Listings/
DebugConfig/
*.o
*.d
*.crf
*.dep
*.bak
*.map
*.hex
*.bin
*.elf
*.out

# 个人电脑配置文件 (绝对不能传) 
*.uvguix.*
*.uvoptx
